In [13]:
# scrap PDF loop data from toby christie's site
# https://tobychristie.com/loop-data-2021-nascar-cup-series/"
# this is v2 of the scraper because there is a different pattern of PDF that tabula could output
# this works for most of the PDFs from the 2021 cup series.
import tabula
import pandas as pd
import re
from tabula import read_pdf                                                      
HEADERS_1=["Car","Driver","StartPos","MidRace","CloserPos","FinishPos","HighPos","LapsLed", "LowPos","AvgPos","PassDiff","GreenPass","GreenPassed","QualityPasses","PercentQualityPasses","NumFastestLaps","LapsTop15","PercentLapsTop15","PercentLapsLed", "TotalLaps","DriverRating","Pts"]
HEADERS_2=["Car","Driver","StartPos","MidRace","CloserPos","FinishPos","HighPos","LowPos","AvgPos","PassDiff","GreenPass","GreenPassed","QualityPasses","PercentQualityPasses","NumFastestLaps","LapsTop15","PercentLapsTop15","LapsLed","PercentLapsLed","TotalLaps","DriverRating","Pts"]
data_location=r"C:\Users\kchen\OneDrive\MADS\SIADS591_592_Milestone1\Milestone_I\Milestone_I\data\loop_TobyChristie\pdf\2022\LD12211_POST_POSTBOOK.pdf"
df=read_pdf(data_location,pages='1')

In [14]:
df[0].head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Box Score,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dover Motor Speedway,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DuraMAX Drydene 400 presented by RelaDyne,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Provided by NASCAR Statistics at 5/2/2022 4:39...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Green Flag Passes For Lead:2
4,Car,Driver,Start,Mid,Closer,Finish,High,Low Avg Pass Green Green Quality % Quality # F...,Laps in % Laps in,Laps,% Laps Total Driver Pts
5,NaN,NaN,Pos,Race,Pos,Pos,Pos,Pos Pos Diff Pass Passed Passes Passes Laps,Top 15 Top 15,Led,Led Laps Rating
6,9,Chase Elliott,4,8,1,1,1,20 4.1 11 33 22 32 96.97 33,399 99.8,73,18.3 400 132.8 50
7,47,Ricky Stenhouse Jr,15,16,2,2,2,19 8.9 21 59 38 52 88.14 8,376 94.0,0,0.0 400 102.8 41
8,1,Ross Chastain,7,10,3,3,1,20 4.7 14 43 29 42 97.67 38,397 99.3,86,21.5 400 125.2 46
9,20,Christopher Bell,17,30,5,4,2,32 15.3 -2 48 50 18 37.5 13,206 51.5,0,0.0 400 91.5 41

In [15]:
fname_track=df[0]['Box Score'][0].replace(" ","")
date_text=df[0]['Box Score'][2]
pattern=r'(\d*)/(\d*)/(\d*)'
fname_year=re.search(pattern,date_text).group(3)
fname_day=re.search(pattern,date_text).group(2).zfill(2)
fname_month=re.search(pattern,date_text).group(1).zfill(2)

In [16]:
df2=df[0].iloc[6:]
df2['Box Score']=df2['Box Score'].str.split()
df2['Unnamed: 7']=df2['Unnamed: 7'].str.split()
df2['Unnamed: 9']=df2['Unnamed: 9'].str.split()

<ipython-input-16-1adc89defd34>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Box Score']=df2['Box Score'].str.split()
<ipython-input-16-1adc89defd34>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Unnamed: 7']=df2['Unnamed: 7'].str.split()
<ipython-input-16-1adc89defd34>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Unnamed: 9']=df2['Unnamed: 9'].str.split()

In [17]:
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Box Score,Unnamed: 7,Unnamed: 8,Unnamed: 9
6,9,Chase Elliott,4,8,1,1,1,"[20, 4.1, 11, 33, 22, 32, 96.97, 33]","[399, 99.8]",73,"[18.3, 400, 132.8, 50]"
7,47,Ricky Stenhouse Jr,15,16,2,2,2,"[19, 8.9, 21, 59, 38, 52, 88.14, 8]","[376, 94.0]",0,"[0.0, 400, 102.8, 41]"
8,1,Ross Chastain,7,10,3,3,1,"[20, 4.7, 14, 43, 29, 42, 97.67, 38]","[397, 99.3]",86,"[21.5, 400, 125.2, 46]"
9,20,Christopher Bell,17,30,5,4,2,"[32, 15.3, -2, 48, 50, 18, 37.5, 13]","[206, 51.5]",0,"[0.0, 400, 91.5, 41]"
10,48,Alex Bowman,6,3,8,5,1,"[18, 6.8, 5, 33, 28, 33, 100, 24]","[393, 98.3]",2,"[0.5, 400, 109.1, 40]"

In [18]:
df3=pd.DataFrame(df2['Box Score'].tolist(), columns=["LowPos","AvgPos","PassDiff","GreenPass","GreenPassed","QualityPasses","PercentQualityPasses","NumFastestLaps"])
df4=pd.DataFrame(df2['Unnamed: 7'].tolist(), columns=["LapsTop15","PercentLapsTop15"])
df5=pd.DataFrame(df2['Unnamed: 9'].tolist(), columns=["PercentLapsLed", "TotalLaps","DriverRating","Pts"])

In [19]:
df2=df2[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6','Unnamed: 8']].reset_index(drop=True)

In [20]:
df_final=pd.concat([df2,df3,df4,df5],axis=1)
df_final.head()
df_final.columns=HEADERS_1
df_final=df_final[HEADERS_2]

In [21]:
df_final.head(2)

,Car,Driver,StartPos,MidRace,CloserPos,FinishPos,HighPos,LowPos,AvgPos,PassDiff,...,QualityPasses,PercentQualityPasses,NumFastestLaps,LapsTop15,PercentLapsTop15,LapsLed,PercentLapsLed,TotalLaps,DriverRating,Pts
0,9,Chase Elliott,4,8,1,1,1,20,4.1,11,...,32,96.97,33,399,99.8,73,18.3,400,132.8,50
1,47,Ricky Stenhouse Jr,15,16,2,2,2,19,8.9,21,...,52,88.14,8,376,94.0,0,0.0,400,102.8,41

In [120]:
r'C:\Users\kchen\OneDrive\MADS\SIADS591_592_Milestone1\Milestone_I\data\loop_TobyChristie\csv\2021\{}.csv'.format(fname_year+fname_month+fname_day+'_'+fname_track)

'C:\\Users\\kchen\\OneDrive\\MADS\\SIADS591_592_Milestone1\\Milestone_I\\data\\loop_TobyChristie\\csv\\2021\\20210228_Homestead-MiamiSpeedway.csv'

In [23]:
df_final.to_csv(r'C:\Users\kchen\OneDrive\MADS\SIADS591_592_Milestone1\Milestone_I\Milestone_I\data\loop_TobyChristie\csv\2022\{}.csv'.format(fname_year+fname_month+fname_day+'_'+fname_track),index=False)

In [66]:
df_final.head()

,Car,Driver,AvgStart,AvgMidRace,AvgFinish,Avg Pos,LapsLed,PercentLapsLed,TotalLaps,DriverRating,Pts,PassDiff,GreenPass,GreenPassed,QualityPasses,PercentQualityPasses,NumFastestLaps,LapsinTop15,PercentLapsTop15
0,2,Austin Cindric,5.0,2.0,1.0,6.2,21,10.4,201,122.4,54,-13,168,181,125,74.4,0,176,87.6
1,6,Brad Keselowski,3.0,5.0,9.0,4.8,67,33.3,201,121.3,54,1,171,170,148,86.5,4,198,98.5
2,19,Martin Truex Jr,14.0,18.0,13.0,11.9,11,5.5,201,94.0,49,25,258,233,192,74.4,4,143,71.1
3,23,Bubba Wallace,16.0,19.0,2.0,10.2,12,6.0,201,104.7,47,16,253,237,191,75.5,7,145,72.1
4,14,Chase Briscoe,9.0,10.0,3.0,18.3,0,0.0,201,75.0,41,17,209,192,70,33.5,6,88,43.8

In [3]:
# loop through the whole directory
directory=r'C:\Users\kchen\OneDrive\MADS\SIADS591_592_Milestone1\Milestone_I\Milestone_I\data\loop_TobyChristie\pdf\2022'
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        # read in data
        df=read_pdf(f,pages='1')
        # get the file name info
        fname_track=df[0]['Box Score'][0].replace(" ","")
        date_text=df[0]['Box Score'][2]
        pattern=r'(\d*)/(\d*)/(\d*)'
        fname_year=re.search(pattern,date_text).group(3)
        # zfill Fill the string with zeros until it is 2 characters long:
        fname_day=re.search(pattern,date_text).group(2).zfill(2)
        fname_month=re.search(pattern,date_text).group(1).zfill(2)
        # getting the data cleaned up
        print(f)
        df2=df[0].iloc[6:]
        df2['Box Score']=df2['Box Score'].str.split()
        df2['Unnamed: 9']=df2['Unnamed: 9'].str.split()
        df2['Unnamed: 11']=df2['Unnamed: 11'].str.split()

        # continue to clean
        df3=pd.DataFrame(df2['Box Score'].tolist(), columns=["AvgPos","PassDiff","GreenPass","GreenPassed","QualityPasses","PercentQualityPasses"])
        df4=pd.DataFrame(df2['Unnamed: 9'].tolist(), columns=["LapsTop15","PercentLapsTop15"])
        df5=pd.DataFrame(df2['Unnamed: 11'].tolist(), columns=["PercentLapsLed", "TotalLaps","DriverRating","Pts"])
        
        df2=df2[['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
        'Unnamed: 5', 'Unnamed: 6','Unnamed: 7', 'Unnamed: 8','Unnamed: 10']].reset_index(drop=True)
        
        # final cleaning steps
        df_final=pd.concat([df2,df3,df4,df5],axis=1)
        df_final.columns=HEADERS_1
        df_final=df_final[HEADERS_2]

        # output the data
        df_final.to_csv(r'C:\Users\kchen\OneDrive\MADS\SIADS591_592_Milestone1\Milestone_I\data\loop_TobyChristie\csv\2021\{}.csv'.format(fname_year+fname_month+fname_day+'_'+fname_track),index=False)

C:\Users\kchen\OneDrive\MADS\SIADS591_592_Milestone1\Milestone_I\Milestone_I\data\loop_TobyChristie\pdf\2022\LD12211_POST_POSTBOOK.pdf

<ipython-input-3-53202170564b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Box Score']=df2['Box Score'].str.split()
<ipython-input-3-53202170564b>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Unnamed: 9']=df2['Unnamed: 9'].str.split()

KeyError: 'Unnamed: 11'